@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  background-color: #f5f5f5;
}

html{
  scroll-behavior: smooth;
}


:root {
--bg-main: #013d64;
--color-active: #f35525;
}


.custom__container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
 @media (min-width: 768px){
    .custom__container{
        width: 750px;
    }
 }
 /* Medium */
 @media (min-width: 992px){
    .custom__container{
        width: 970px;
    }
 }
 /* large */
 @media (min-width: 1200px){
    .custom__container{
        width: 1170px;
    }
 }

.landing::before{
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100vh - 85px);
  background-color: #fecaca;
  top: -40px;
  left: 0;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}


.animation__service{
  position: relative;
  z-index: 1;
  &:hover{
    border-radius: 3px;
  }
  &::before{
    content: "";
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background-color: #f3552538;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
    z-index: -1;
    border-radius: 3px;
  }
  &:hover{
    &::before{
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

/* custom animations */

.button__started{
  animation: top-button 1.5s infinite;
}


.image__landing{
  animation: up_dwon 5s linear infinite;
}


.main__titLe{
  position: relative;
  width: fit-content;
  margin: 40px auto;
  font-size: 48px;
  user-select: none;
  text-align: center;
  span{
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--color-active);
    transform: translateY(-50%);
    top: 50%;
  }
  span:first-child{
    left: -40px;
  }
  span:last-child{
    right: -40px; 
  }
  @media (max-width: 767px) {
    font-size: 30px;
    span{
      display: none;
    }
  }
}


@media (max-width: 992px) {
  .show{
  position: absolute;
  top: 95px;
  background-color: white;
  width: 100%;
  left: 0;
  padding: 20px 15px;
  flex-direction: column;
  ul{
    width: 100%;
    display: block;
    li a{
      display: block;
      margin-bottom: 10px;
    }
  }
  button{
    width: 100%;
    padding: 10px;
    background-color: var(--bg-main);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      background-color: var(--color-active);
    }
  }
}
}


.box_serve{
    counter-increment: learning-counter;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      width: 10px;
      height: 4px;
      transition: 0.4s;
      background-color: var(--color-active);
      transform: translateX(-50%);
      left: 50%;
      opacity: 0;
    }
    &:hover{
      &::before{
        opacity: 1;
        width: 100%;
      }
    }
}

.info_learning{
  text-align: right;
  position: relative;
  &::before{
    content: "0" counter(learning-counter);
    background-color: var(--color-active);
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding-right: 25px;
  }
  &::after{
content: "";
    position: absolute;
    width: 50px;
    height: calc(100% + 1px);
    background-color: #d5d5d5;
    left: 80px;
    top: 0;
    transform: skewX(-30deg);
  }
}

/* custom animations */
@keyframes top-button{
  0%, 10%, 20%, 50%, 80%, 100%{
    transform: translateY(0);
  }
  40%, 60%{
    transform: translateY(-15px);
  }
}

@keyframes up_dwon{
  0%, 100%{
    top: 0;
  }
  50%{
    top: 50px;
  }
}
